<!doctype html>
<html>
  <head>
    <title>Homepage</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
  </head>
  <body>
    Lütfen Garsonunuzdan Masa Kodunuzu İsteyiniz: <input type="text" id="tablecode">
    <button type="button" name="button" id="codeokey">Kodu Onayla</button>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    $( document ).ready(function() {
      var username = '<%= username %>';
      var fullname = '<%= fullname %>';
      var profilepicture = '<%= profilepicture %>';

      console.log(username+fullname+profilepicture);

      $("#codeokey").click(function(){
        var code = $("#tablecode").val();
        var settings = {
        "url": "/checkcode",
        "method": "POST",
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "data": {
          "code" : code
        }
      }
      console.log(settings);

      $.ajax(settings).done(function (response) {
        if (response) {
          console.log('5 dakika içinde instagrama girip @crepoint lokasyonu ve yukarıdaki hashtaglarden biriyle sipariş verirsen sana özel indirimin tadını çıkarırsın.');
        }
      });

      });


    });
    </script>
  </body>
</html>
