<!doctype html>
<html>
  <head>
    <title>Choose Cafe</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Choose Cafe</h1>
    <ul id="class-list">

    </ul>
    <script src="/socket.io/socket.io.js"></script>
    <script>

    $(document).ready(function(){
      var socket = io('http://localhost:3002');

      socket.emit('get-cafes','/*Send user location here*/');

      socket.on('message',function(arg){
        console.log(arg);
      });

      socket.on('cafes-got',function(cafes){
        if (cafes.length!=0) {
          cafes.forEach(function(cafe) {
            $("#class-list").append("<li id="+cafe+">"+cafe+"</li>");
            $(document).on('click', '#'+cafe, function(){
              socket.emit('authentication', {username: cafe});
            });
          });
        }else {
          console.log("No avaliable cafe around");
        }
      });






    });







    </script>
  </body>
</html>
