<!doctype html>
<html>
  <head>
    <title>Homepage</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
  </head>
  <body>
    <h1 id="welcome"></h1>
    <button type="button" name="button" id="instaredirectbutton">Instagram Hesabınla giriş yap</button>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    $( document ).ready(function() {
      var username = '<%= username %>';
      var redirectUri = '<%= redirectUri %>';
      var clientId = '<%= clientid %>';

      $("#welcome").text(username+' e Hoşgeldiniz');


      var socket = io('http://localhost:3002');
      socket.emit('authentication', {username: username});
      // socket.emit('message', 'selam');
      socket.on('message',function(arg){
        console.log(arg);
      });

      function sendMessagetoDesktop(){
        var messageBody = document.getElementById("messageArea").value;
        socket.emit('message',messageBody);
      }

      $("#instaredirectbutton").click(function(){
          window.location.href = 'https://api.instagram.com/oauth/authorize/?client_id='+clientId+'&redirect_uri='+redirectUri+'&response_type=code';
      });


    });
    </script>
  </body>
</html>
