<!doctype html>
<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <h1>Login</h1>
    <script src="/socket.io/socket.io.js"></script>
    <script>


        // var socket = io('http://localhost:3002');
        // socket.emit('authentication', {username: username});
        // // socket.emit('message', 'selam');
        // socket.on('message',function(arg){
        //   console.log(arg);
        // });



    </script>
  </body>
</html>
