<!doctype html>
<html>
  <head>
    <title>Homepage</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Homepage</h1>
    <script src="/socket.io/socket.io.js"></script>
    <script>

        var socket = io();
        // socket.emit('message', 'selam');
        var getTest = '<%= drinks %>';
        console.log(getTest);
    </script>
  </body>
</html>
